:root {
    --transition-x: 0px;
    --transition-y: 0px;
    --fly-animation-duration: 1s;
    --fly-animation-delay: 0s;
    --flipping-animation-duration: 0.8s;
    --user-delay: 0s;
}

.card-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.card-wrapper.fly {
    animation: fly var(--fly-animation-duration) forwards ease;
    animation-delay: var(--fly-animation-delay);
}

.card-wrapper.flip .card {
    animation: flip var(--flipping-animation-duration) forwards ease-in-out;
    animation-delay: calc(
        var(--fly-animation-duration) - var(--flipping-animation-duration) +
            var(--fly-animation-delay)
    );
}

@keyframes fly {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(var(--transition-x), var(--transition-y));
    }
}

@keyframes flip {
    to {
        transform: rotateY(calc(var(--basic-rotation) + 180deg));
    }
}

.discard-card-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease-in-out;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
}

.discard-flip {
    transform: rotateY(180deg);
}
