.arrow {
    transition: transform 4s cubic-bezier(0.25, 1, 0.5, 1);
}

.arrow-gradient {
    width: 72px;
    height: 96px;
    background: linear-gradient(to bottom, #8b5cf6, #ec4899, #f97316);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.arrow-bottom {
    width: 72px;
    height: 72px;
    background: black;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    rotate: 180deg;
}

.arrow-pin {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.animate-gradient {
    animation: gradient-animation 3s ease-in-out infinite;
}

.rule-page {
    width: 100%;
}

.rule-page p {
    white-space: pre-wrap;
    line-height: 1.5;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.highlight {
    background: linear-gradient(90deg, #7e22ce, #ec4899, #f97316);
    background-size: 200% auto;
    background-clip: text;
    color: transparent;
    font-weight: 700;
}

.modal {
    background-color: #fff;
    border-radius: 16px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    text-align: center;
    width: 500px;
}
