:root {
    --angle: 0deg;
}

.fan {
    position: absolute;
    inset: 0;
}

.fan-card-wrapper {
    position: absolute;
    bottom: 0;
    transition: transform 0.8s ease;
    transform: rotate(0deg);
}

.fan.visible-fan .fan-card-wrapper {
    transform: rotate(var(--angle));
}

.fan.visible-fan .fan-card-wrapper:hover {
    transform: rotate(var(--angle)) translate(-5px, -10px);
}

.visible-fan {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0s ease;
}

.hidden-fan {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0s ease 0.8s;
}
